* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
*::-webkit-scrollbar {
    display: none;
}
/* Font */
.poppins {
    font-family: 'Poppins', sans-serif;
}

/* Effect */
.hover_trans:hover {
    transition: transform 0.3s ease-in-out;
}

/* Button */
.btn_all {
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding: 0.5rem;
    border-radius: 5px;
}